<ion-content style="background: #f6f6f6;">
  <div id="parent">

    <ion-row>
 
      <ion-col col-12 style= "height: 250px; margin-top: -20px; background-image: linear-gradient(to right top, #654da1, #5b47aa, #4e41b3, #393bbc, #0637c6); border-radius: 0px 0px 0px 90px;">
        <div id="child">
          <img src="assets/imgs/iconlogo.png"
               style="max-width: -webkit-fill-available;height: 100px; border: 0;margin-left: 8%;" />
          &nbsp; &nbsp;
          <span style="color: white; font-size: x-small;">
          </span>
          <p style="margin-left: 35%; margin-top: -80px;color: white; font-size: 25px;">
            J R FleetView
          </p>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="loginForm" style="margin-top: 50px;">
      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid;
        border-radius: 40px;
        width: 85%;
        margin: auto;
        height: 60px;">
          <ion-col col-2 style=" text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock" style="color: gray; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}" ></ion-input>
            <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}" ></ion-input>

          </ion-col>
          <ion-col col-2>
            <button ion-button clear item-end (click)="toggleShowPassword()">
              <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
              <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <span style="margin-left: 207px;" (tap)="forgotPassFunc()">Reset Password</span>
    <div class="btnDiv" (tap)="userlogin()">
      <button ion-button class="btnLog" color="gpsc" style="background: #ee612e;">
        LOGIN
      </button>
    </div>


    <ion-footer>

        <ion-row>

          <ion-col col-12 style= "height: 250px; margin-top: -30px; background-image: linear-gradient(to right top, #654da1, #5b47aa, #4e41b3, #393bbc, #0637c6); border-radius: 0px 104px 0px 0px;">
            <ion-row style="margin-top: 20px;">
              <ion-col col-2>

              </ion-col>

              <ion-col col-3 (click)="gotodemopage()">
                <ion-icon name="keypad" style="font-size: 2.2em;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -26px; color: white;">Demo Login</span>
              </ion-col>

              <ion-col col-3>
                <a [attr.href]="'https://api.whatsapp.com/send?phone=' + '+91' + sales_contact" style="color: black;">
                <ion-icon name="logo-whatsapp" style="font-size: 2.2em;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -18px;color: white;">Whastapp</span>
              </a>
              </ion-col>

              <ion-col col-3 (click)="dialNumber(support_contact)">
                <ion-icon name="call" style="font-size: 2.2em; margin-left: -5px;color: white;"></ion-icon>
                <br>
                <span style="margin-left: -18px;color: white;">Support</span>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>

    </ion-footer>
  </div>

  </ion-content>
