<!--
  Generated template for the ReportsCollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the ReportsCollectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reports</ion-title>
  </ion-navbar>
  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getOverspeeddevice(selectedVehicle)"  [isMultiple]="true">
    </select-searchable>
  </ion-item>
</ion-header>


<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col (click)= "acReport()">
          <div class="style">
            <img src="assets/imgs/ac.png">
            <p style="margin: auto;padding: 3px;"> AC Report</p>
          </div>

          <!-- <ion-card>
            <ion-row>
              <ion-col col-4>

              </ion-col>
              <ion-col col-4>
                <img src="assets/imgs/ac.png">
              </ion-col>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
        <ion-col (click)="dailyReport()">
          <div class="style">
            <img src="assets/imgs/24-hour-daily-service.png">
            <p style="margin: auto;padding: 3px;"> Daily Report</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col (click)="disance()">
          <div class="style" >
            <img src="assets/imgs/distance.png">
            <p style="margin: auto;padding: 3px;"> Distance Report</p>
          </div>

          <!-- <ion-card>
            <ion-row>
              <ion-col col-4>

              </ion-col>
              <ion-col col-4>
                <img src="assets/imgs/ac.png">
              </ion-col>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
        <ion-col (click)="geo()">
          <div class="style">
            <!-- <img src="assets/imgs/ac.png"> -->
            <ion-icon  name="disc"></ion-icon>
            <p style="margin: auto;padding: 3px;"> Geofence Report</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col (click)="iginition()">
          <div class="style">
            <img src="assets/imgs/power-button.png">
            <p style="margin: auto;padding: 3px;"> Ignition Report</p>
          </div>

          <!-- <ion-card>
            <ion-row>
              <ion-col col-4>

              </ion-col>
              <ion-col col-4>
                <img src="assets/imgs/ac.png">
              </ion-col>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
        <ion-col (click)="stoppage()">
          <div class="style" >
            <img src="assets/imgs/stoppage.png">
            <p style="margin: auto;padding: 3px;"> Stoppage Report</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col (click)="trip()">
          <div class="style">
            <img src="assets/imgs/destination.png">
            <p style="margin: auto;padding: 3px;"> Trip Report</p>
          </div>

          <!-- <ion-card>
            <ion-row>
              <ion-col col-4>

              </ion-col>
              <ion-col col-4>
                <img src="assets/imgs/ac.png">
              </ion-col>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
        <ion-col (click)="working()">
          <div class="style">
            <img src="assets/imgs/working-time.png">
            <p style="margin: auto;padding: 3px;"> Working Report</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col (click)="overspeed()">
          <div class="style">
            <img src="assets/imgs/speed.png">
            <p style="margin: auto;padding: 3px;"> Overspeed Reprot</p>
          </div>

          <!-- <ion-card>
            <ion-row>
              <ion-col col-4>

              </ion-col>
              <ion-col col-4>
                <img src="assets/imgs/ac.png">
              </ion-col>
              <ion-col col-4>

              </ion-col>
            </ion-row>
          </ion-card> -->
        </ion-col>
        <ion-col (click)="value()">
          <div class="style">
            <img src="assets/imgs/value.png">
            <p style="margin: auto;padding: 3px;"> Value Sceen</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
