<ion-header style="background: ghostwhite;">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title (click)="toggled = false">{{ "Vehicle List" | translate }}</ion-title>
    <ion-buttons end>
      <div>
        <ion-icon style="font-size: 2.2em;" color="light" *ngIf="!toggled" (click)="toggle()" name="search"></ion-icon>
        <ion-searchbar *ngIf="toggled" (ionInput)="callSearch($event)" (ionClear)="onClear($event)"
          (ionCancel)="cancelSearch($event)"></ion-searchbar>
      </div>
    </ion-buttons>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()" >

        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="((dealer_Permission == true)||(dealer_Permission === undefined)) || isSuperAdmin">
      <button ion-button icon-only (click)="openAdddeviceModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <progress-bar *ngIf="loadProgress !== 100" [progress]="loadProgress"></progress-bar>

  <!-- <ion-segment mode="md" color="gpsc" scrollable="true" (ionChange)="segmentChanged($event)" [(ngModel)]="checkIfStat">
    <ion-segment-button class="seg" style="color: #f0810f;" value="ALL">
      <ion-icon name="car" style="color: #f0810f;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #11a46e;" value="RUNNING">
      <ion-icon name="car" style="color: #11a46e;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #ff3f32;" value="STOPPED">
      <ion-icon name="car" style="color: #ff3f32;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #ffc13c;" value="IDLING">
      <ion-icon name="car" style="color: #ffc13c;"></ion-icon>
    </ion-segment-button>
    <ion-segment-button style="color: #1bb6d4;" value="OUT OF REACH">
      <ion-icon name="car" style="color: #1bb6d4;"></ion-icon>
    </ion-segment-button>
  </ion-segment> -->

</ion-header>

<ion-content *ngIf="!hideMe">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-row style="padding: 3px;height: 11%;overflow: scroll;flex-wrap: nowrap;">
    <ion-col col-2 style="margin-left: auto;" style="background: rgb(126, 230, 161); margin: 5px;" class="top" (click)="segmentChanged('ALL')">
      <span style="font-size: 26px;">{{totaldevices}}</span>
      <p style="margin: initial;">Total</p>
      <!-- <div style="background-color: red; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        {{Stopped}}
      </div> -->
      <!-- <div style="text-align: center;">
        <p>{{Stopped}}</p>

      </div> -->
    </ion-col>
    <ion-col col-2 style="margin:auto;font-size: smaller;
    background: green;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;" (click)="segmentChanged('RUNNING')">
      <span style="font-size: 26px;">{{Running}}</span>
      <p style="margin: initial;">Running</p>

    </ion-col>

    <ion-col col-2 class="top" style="background:orange ; margin: 5px;" (click)="segmentChanged('IDLING')">
      <!-- <div style="background-color: orange; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        {{IDLING}}
      </div> -->
      <span style="font-size: 26px;">{{IDLING}}</span>
      <p style="margin: initial;">Idling</p>
      <!-- <div style="text-align: center;">
        <p>{{IDLING}}</p>

      </div> -->
    </ion-col>

    <ion-col col-2 style="margin-left: auto;" style="background: red; margin: 5px;" class="top" (click)="segmentChanged('STOPPED')">
      <span style="font-size: 26px;">{{Stopped}}</span>
      <p style="margin: initial;">Stopped</p>
      <!-- <div style="background-color: red; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        {{Stopped}}
      </div> -->
      <!-- <div style="text-align: center;">
        <p>{{Stopped}}</p>

      </div> -->
    </ion-col>


    <ion-col col-2 style="margin-left: auto;" style="background: rosybrown; margin: 5px;" class="top" (click)="segmentChanged('OUT OF REACH')">
      <span style="font-size: 26px;">{{OutOffReach}}</span>
      <p style="margin: initial;">Ofr</p>
      <!-- <div style="text-align: center;">
        <p>{{OutOffReach}}</p>

      </div> -->
    </ion-col>

    <ion-col col-2 style="margin:auto" class="top" style="background: gray; margin: 5px;" (click)="segmentChanged('NO DATA')">
      <span style="font-size: 26px;">{{nodata ? nodata : 0}}</span>
      <p style="margin: initial;">Nodata</p>
      <!-- <div style="background-color: grey; border-radius: 50%; height: auto;
      text-align: center;
      width: auto;">
      {{nodata}}
      </div> -->
       <!-- <div style="text-align: center;">
        <p>{{nodata}}</p>

      </div> -->
    </ion-col>
    <ion-col col-2 style="margin-left: auto;" style="background: rgb(126, 230, 161); margin: 5px;" class="top" (click)="segmentChanged('Expired')">
      <span style="font-size: 26px;">{{expiredDevices}}</span>
      <p style="margin: initial;">Expired</p>
      <!-- <div style="background-color: red; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        {{Stopped}}
      </div> -->
      <!-- <div style="text-align: center;">
        <p>{{Stopped}}</p>

      </div> -->
    </ion-col>
  </ion-row>


  <div *ngIf="(allDevicesSearch.length === 0) && !showEmptyStatus" style="text-align: center; margin-top: 10%;">
    <ion-spinner color="gpsc"></ion-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="showEmptyStatus" style="text-align: center; margin-top: 10%;">
    <p>No <span *ngIf="checkIfStat != 'ALL'">{{checkIfStat | titlecase}}</span> vehicle(s) found.</p>
  </div>

  <div *ngIf="allDevicesSearch.length > 0" >
    <div *ngIf="isPayNow " style="display: flex;justify-content: space-around;">
      <button ion-button  (click)="activateVehicles()" style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
      <span>Pay Now</span>
      </button>
      <button ion-button (click)="supportCall()" style="background-color: black;color: white;padding: 10px 20px;margin: 10px;font-size: 18px;border-radius: 25px;">
       <ion-icon ios="ios-call" md="md-call" style="color: white;"></ion-icon>Support
     </button>
    </div>
      <ion-card *ngFor="let d of allDevicesSearch; let i = index" style="border-radius: 20px;">

      <div *ngIf="d.expiration_date < now" style="position: relative">
        <div>
          <ion-item [ngStyle]="{background: isSelected(d) ? '#888686': 'black'}"   (click)="selected($event,d)">

            <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)" (click)="selected($event,d)">
              <img *ngIf="d.iconType === 'jjcb'" width='30px' style="margin-left: 10px;" src={{devIcon}}>
              <img *ngIf="!isSelected(d)" width='20px' style="margin-left: 10px;" src={{devIcon}}>
              <img *ngIf="isSelected(d)" width='20px' style="margin-left: 10px;" src="assets/imgs/cheackright.png">
               <!-- <ion-icon ios="ios-add-circle" md="md-add-circle" *ngIf="selectedArray.length > 0" style="color: white; font-size: 20px;"></ion-icon> -->
            </ion-avatar>
            <div>
              <h2 style="color: rgb(255, 255, 255)">{{ d.Device_Name }}</h2>
              <p style="color:rgb(255, 255, 255);font-size: 10px;font-weight: 400;margin:0px;" ion-text text-wrap>
                <span style="text-transform: uppercase; color: red;">{{ d.status }}
                </span>
                <span *ngIf="d.status_updated_at">{{ "since" | translate }}&nbsp;{{
                  d.status_updated_at | date: "medium"
                }}
                </span>
              </p>
            </div>
          </ion-item>
          <!-- <ion-row style="background-color: rgba(0, 0, 0, 0.9)" padding-right>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center"></ion-col>
            <ion-col width-20 style="text-align:center">
              <button ion-button outline color="secondary" (click)="activateVehicle(d)">
                Activate
              </button>
            </ion-col>
          </ion-row> -->
        </div>
      </div>

      <div *ngIf="d.expiration_date == null || d.expiration_date > now">

        <ion-item style="padding: 0px;" (click)="livetrack(d)">
          <ion-row>
            <ion-col col-5 style="margin-top: -20px;">
            <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)" >
            <img *ngIf="d.iconType === 'jcb'" width='30px' style="margin-left: 10px;" src={{devIcon}} style="margin-left: 10px;height: 80px;width: inherit;" />
            <img *ngIf="d.iconType != 'jcb'" width='20px' style="margin-left: 10px;" src={{devIcon}}  style="margin-left: 10px;height: 80px;width: inherit;"/>
          </ion-avatar>
          <!-- <p style="margin: 0px;font-weight: 600; text-align: center;">{{ d.last_speed ? d.last_speed : 0 }} <span
            style="font-size: 0.7em;font-weight: 600;">{{ (measurementUnit == 'MKS') ? ("KMPH" | translate) : ("Miles/hr" | translate)}}</span>
        </p> -->
        <p style="color: black; font-size: 4vw; padding-right: 8px;text-align: center;margin-top: -4px;" (click)="livetrack(d)">
          {{ d.Device_Name }} &nbsp;&nbsp;
        </p>
            </ion-col>

            <ion-col col-5>
              <div style="height: 10px;
              width: 22px;
              /* border: 1px solid; */
              float: left;
              margin-left: -25px;
              font-size: x-small;
              margin-top: 15px;">
               Today KM
              </div>
              <div style="height: 10px;
              width: 22px;
              /* border: 1px solid; */
              float: left;
              margin-left: -13px;
              font-size: x-small;
              margin-top: 33px;">
               SPEED
              </div>
              <div style="height: 10px;
              width: 22px;
              /* border: 1px solid; */
              float: left;
              margin-left: -28px;
              font-size: xx-small;
              margin-top: 54px;
              " *ngIf="d.status !== 'OUT OF REACH'">
               {{d.status}}
              </div>
              <div style="height: 10px;
              width: 22px;
              /* border: 1px solid; */
              float: left;
              margin-left: -34px;
              font-size: xx-small;
              margin-top: 53px;
              position: absolute;
              " *ngIf="d.status == 'OUT OF REACH'">
              {{d.status}}
              </div>
              <!-- <p style="color: black; font-size: 4vw; padding-right: 8px;">
                {{ d.Device_Name }} &nbsp;&nbsp;
              </p>
              <p style="color:#cf1c1c;font-size:8px;font-weight: 400;margin:0px;" ion-text text-wrap
                (onCreate)="getDuration(d, i)">
                <span style="text-transform: uppercase; color:#11a46e"
                  *ngIf="d.status === 'RUNNING'">{{ d.status | lowercase }} </span>
                <span style="text-transform: uppercase; color:#1bb6d4"
                  *ngIf="d.status === 'OUT OF REACH'">{{ d.status | lowercase }} </span>
                <span style="text-transform: uppercase; color:#ff3f32"
                  *ngIf="d.status === 'STOPPED'">{{ d.status | lowercase }} </span>
                <span style="text-transform: uppercase; color:#ffc13c"
                  *ngIf="d.status === 'IDLING'">{{ d.status | lowercase }} </span>
                <span style="text-transform: uppercase; color:#5a5e5c"
                  *ngIf="d.status === 'NO DATA' || d.status === 'NO GPS FIX'">{{ d.status | lowercase }} </span>
                <span *ngIf="d.last_ping_on">{{ "since" | translate }}&nbsp;{{
                  d.duration}} <br /> {{"Last updated - " | translate}} {{d.last_ping_on | date:'shortTime'}},
                  {{d.last_ping_on | date: 'mediumDate'}}
                </span>
              </p>

              <div class="overme" (onCreate)="device_address(d, i)">
                {{ d.address }}
              </div> -->

              <!-- <ul>
                <li>Coffee</li>
                <li>Tea</li>
                <li>Milk</li>
              </ul>  -->

              <ul class="bar" style="font-size: x-small;
              margin-left: -12px;
              margin-top: -9px;">
              <!-- <span class="defined">  </span> -->
                <li>
                  {{d.last_ping_on | date: 'mediumDate'}},{{d.last_ping_on | date:'shortTime'}}
                  <!-- <br>
                  <span style="margin-left: 25px;">{{d.last_ping_on | date:'shortTime'}}</span> -->
                </li>
                <li (onCreate)="getDistanceReport(d, i)"> {{ d.today_odo ? (d.today_odo | number: "1.0-2") : 0 }} </li>
                <li>{{ d.last_speed ? d.last_speed : 0 }} &nbsp; km/h</li>
                <li  (onCreate)="getDuration(d, i)">SINCE &nbsp;{{d.duration}}</li>
              </ul>

            </ion-col>

            <ion-col col-2 style="text-align: -webkit-right;">
              <p style="width: 15px; height: initial; margin-bottom: revert">
                <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="d.last_ACC == '0'" width="20" height="20" />
                <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="d.last_ACC == '1'" width="20" height="20" />
                <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="d.last_ACC == null" width="20" height="20" />
              </p>
              <p style="width: 15px; height: initial; margin-bottom: revert">
                  <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="d.ac == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="d.ac == '1'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="d.ac == '0'" width="20" height="20" />
              </p>
                <p style="width: 15px; height: initial; margin-bottom: revert">
                  <img src="assets/imgs/statusIcons/power_na.png" *ngIf="d.power == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="d.power == '0'" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="d.power == '1'" width="20"
                    height="20" />
                  </p>
                  <p style="width: 15px; height: initial">
                    <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="d.gpsTracking == null" width="20" height="20" />
                    <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="d.gpsTracking == '0'" width="20"
                      height="20" />
                    <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="d.gpsTracking == '1'" width="20"
                      height="20" />
                    </p>
            </ion-col>
            <!-- <span>
            {{ d.address }}
              </span> -->
              <ion-row (onCreate)="device_address(d, i)">
                <ion-col col-12 class="overme" style="font-size: small; margin-left: 14px;margin-top: -8px; ">
                  {{ d.address }}
                </ion-col>
              </ion-row>
          </ion-row>
          <!-- <ion-avatar item-start *ngIf="iconCheck(d.status,d.iconType)">

            <img *ngIf="d.iconType === 'jcb'" width='30px' style="margin-left: 10px;" src={{devIcon}} />
            <img *ngIf="d.iconType != 'jcb'" width='20px' style="margin-left: 10px;" src={{devIcon}} />
          </ion-avatar> -->
          <!-- <div>
            <p style="color: black; font-size: 4vw; padding-right: 8px;">
              {{ d.Device_Name }} &nbsp;&nbsp;
            </p>
            <p style="color:#cf1c1c;font-size:8px;font-weight: 400;margin:0px;" ion-text text-wrap
              (onCreate)="getDuration(d, i)">
              <span style="text-transform: uppercase; color:#11a46e"
                *ngIf="d.status === 'RUNNING'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#1bb6d4"
                *ngIf="d.status === 'OUT OF REACH'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#ff3f32"
                *ngIf="d.status === 'STOPPED'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#ffc13c"
                *ngIf="d.status === 'IDLING'">{{ d.status | lowercase }} </span>
              <span style="text-transform: uppercase; color:#5a5e5c"
                *ngIf="d.status === 'NO DATA' || d.status === 'NO GPS FIX'">{{ d.status | lowercase }} </span>
              <span *ngIf="d.last_ping_on">{{ "since" | translate }}&nbsp;{{
                d.duration}} <br /> {{"Last updated - " | translate}} {{d.last_ping_on | date:'shortTime'}},
                {{d.last_ping_on | date: 'mediumDate'}}
              </span>
            </p>
          </div> -->

          <!-- <div item-end style="padding: 3px;" *ngIf="islogin.fuel_unit === 'PERCENTAGE'"> -->
            <!-- <div item-end  *ngIf="islogin.fuel_unit === 'PERCENTAGE'">
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <img src="assets/imgs/fuel.png" style="width: 25px; height: 25px; margin: auto;" />

              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.fuel_percent ? d.fuel_percent : N/A }} <span
                    style="font-size: 0.7em;font-weight: 600;">%</span></p>
              </ion-col>
            </ion-row>
          </div> -->

          <!-- <div item-end style="padding: 3px;" *ngIf="islogin.fuel_unit === 'LITRE'"> -->
            <!-- <div item-end  *ngIf="islogin.fuel_unit === 'LITRE'">
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <img src="assets/imgs/fuel.png" style="width: 25px; height: 25px; margin: auto;" />

              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.currentFuel ? d.currentFuel : 0 }} <span
                    style="font-size: 0.7em;font-weight: 600;">{{ (measurementUnit == 'MKS') ? ("L" | translate) : ("G" | translate)}}</span>
                </p>
              </ion-col>
            </ion-row>
          </div> -->


          <!-- <div item-end style="padding: 3px;"> -->
            <!-- <div item-end>
            <ion-row>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <ion-icon name="speedometer" color="gpsc" style="font-size: 1.4em;"></ion-icon>
              </ion-col>
              <ion-col col-12 style="text-align: center; padding: 0px;">
                <p style="margin: 0px;font-weight: 600;">{{ d.last_speed ? d.last_speed : 0 }} <span
                    style="font-size: 0.7em;font-weight: 600;">{{ (measurementUnit == 'MKS') ? ("KMPH" | translate) : ("Miles/hr" | translate)}}</span>
                </p>
              </ion-col>
            </ion-row>
          </div> -->

          <div *ngIf="!showDeleteBtn(d.SharedWith)" item-end>
            <button ion-button clear color="gpsc" (click)="presentPopover($event, d); $event.stopPropagation()"
              *ngIf="option_switch" style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-more" md="md-more"></ion-icon>
            </button>
          </div>

          <div *ngIf="showDeleteBtn(d.SharedWith)">
            <button ion-button item-end clear color="danger" (click)="sharedVehicleDelete(d)"
              style="font-size: 4vw; margin: 0px;">
              <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
            </button>
          </div>
        </ion-item>
        <!-- <ion-item item-start class="itemStyle" style="background:rgb(215, 216, 218); padding-left: 5px;"> -->
        <!-- <ion-row style="padding-left: 5px;margin-top: -10px;">
          <ion-col col-2 class="colSt2">

          </ion-col>
          <ion-col col-8 (onCreate)="device_address(d, i)" class="colSt2">
            <div class="overme">
              {{ d.address }}
            </div>
          </ion-col>
          <ion-col col-2 class="colSt2">

          </ion-col>
        </ion-row> -->
        <!-- </ion-item> -->
        <!-- <ion-item item-start class="itemStyle" style="padding-left: 5px;">
          <ion-row style="margin-right: -3px;">
            <ion-col col-6 style="padding: 10px 0px 0px 0px;">
              <ion-row>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="d.last_ACC == '0'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="d.last_ACC == '1'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="d.last_ACC == null" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="d.ac == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="d.ac == '1'" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="d.ac == '0'" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/power_na.png" *ngIf="d.power == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="d.power == '0'" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="d.power == '1'" width="20"
                    height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="d.gpsTracking == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="d.gpsTracking == '0'" width="20"
                    height="20" />
                  <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="d.gpsTracking == '1'" width="20"
                    height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <ion-icon name="thermometer" *ngIf="d.temp == null" style="color: gray; font-size: 1.4em;">
                  </ion-icon>
                  <ion-icon name="thermometer" *ngIf="d.temp == '0'" style="font-size: 1.4em; color: #ff3f32;">
                  </ion-icon>
                  <ion-icon name="thermometer" *ngIf="d.temp == '1'" style="font-size: 1.4em; color: #11a46e;">
                  </ion-icon>
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <img src="assets/imgs/statusIcons/car_no_data.png" *ngIf="d.door == null" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/car_door_open.png" *ngIf="d.door == 0" width="20" height="20" />
                  <img src="assets/imgs/statusIcons/car_door_close.png" *ngIf="d.door == 1" width="20" height="20" />
                </ion-col>
                <ion-col width-2 style="text-align:center">
                  <ion-icon name="lock" style="color:#ff3f32;font-size: 1.2em;" *ngIf="d.ignitionLock == '1'">
                  </ion-icon>
                  <ion-icon name="unlock" style="color:#11a46e;font-size: 1.2em;" *ngIf="d.ignitionLock == '0'">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col col-6 class="colSt123" (click)="getDistanceReport(d)">
              <p style="color:#fff;font-size: 10px;font-weight: 400;margin-top: 6px; margin-left: 49%;">
                {{ "Today's Odo" | translate }}
              </p>
              <ion-icon name="refresh" style="color:#fff;margin-top: 6px; margin-left: 60%;"
                *ngIf="d.distance === undefined"></ion-icon>
              <p style="color:#fff;font-size: 11px;font-weight: bold;margin-top: 8px; margin-left: 49%;"
                *ngIf="d.distance !== undefined">
                {{ d.distance }}
                {{ (measurementUnit == 'MKS') ? ("Km" | translate) : ("Miles" | translate)}}
              </p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-row style="background-color: #000;
      color: white;
      font-weight: bold;font-size: 0.6em;">
          <ion-col col-6>{{"Licence Purchased On" | translate}} - {{d.created_on | date:'mediumDate'}}</ion-col>
          <ion-col col-6 style="text-align: right;">{{"Licence Expires On" | translate}} -
            {{d.expiration_date | date:'mediumDate'}}
          </ion-col>
        </ion-row> -->
      </div>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div padding>
  <ion-bottom-drawer *ngIf="showDrawer" [(state)]="drawerState" [minimumHeight]="minimumHeight"
    [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce" [distanceTop]="distanceTop">
    <div class="drawer-content">
      <div id="content">
        <ion-row style="padding-bottom: 16px;">
          <ion-col col-4></ion-col>
          <ion-col col-4 style="border-top: 3px solid lightgray;"></ion-col>
          <ion-col col-4></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 no-padding style="text-align: center;" (click)="livetrack(drawerData)">
            <img src="assets/imgs/segment/map_active.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="showHistoryDetail(drawerData)">
            <img src="assets/imgs/segment/history_active.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="fonctionTest(drawerData)">
            <img *ngIf="drawerData.theftAlert"
              src="assets/imgs/anti-theft_anti_theft_protection_hacker_investigate-512.png" style="width: 30px;" />
            <img *ngIf="!drawerData.theftAlert" src="assets/imgs/anti-theft_anti_theftred.png" style="width: 30px;" />
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="IgnitionOnOff(drawerData)">
            <ion-icon name="lock" style="color:#ef473a;font-size: 2em;" *ngIf="drawerData.ignitionLock == '1'">
            </ion-icon>
            <ion-icon name="unlock" style="color:#1de21d;font-size: 2em;" *ngIf="drawerData.ignitionLock == '0'">
            </ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="padding-bottom: 10px; color: white;">
          <ion-col col-3 no-padding style="text-align: center; ">{{"Live" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"History" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Parking" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Immobilize" | translate}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3 no-padding style="text-align: center;" (click)="towAlertCall(drawerData)">
            <ion-icon name="alert" style="color:#ef473a;font-size: 2em;" *ngIf="!drawerData.towAlert"></ion-icon>
            <ion-icon name="alert" style="color:#1de21d;font-size: 2em;" *ngIf="drawerData.towAlert"></ion-icon>
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="dialNumber(drawerData.contact_number)">

            <ion-icon name="call" style="color:white;font-size: 2em;"></ion-icon>

          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" (click)="showVehicleDetails(drawerData)">
            <ion-icon name="stats" style="color:#fc8803;font-size: 2em;"></ion-icon>
          </ion-col>
          <ion-col col-3 no-padding style="text-align: center;" *ngIf="!option_switch"
            (click)="shareVehicle(drawerData)">
            <ion-icon ios="ios-share" md="md-share" color="gpsc" style="font-size: 2em; color: white;"
              *ngIf="showSharedBtn(islogin._id, drawerData.SharedWith)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="color: white;">
          <ion-col col-3 no-padding style="text-align: center;">{{"Tow" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Driver" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;">{{"Analytics" | translate}}</ion-col>
          <ion-col col-3 no-padding style="text-align: center;" *ngIf="!option_switch">{{"Share" | translate}}</ion-col>
        </ion-row>
      </div>
    </div>
  </ion-bottom-drawer>
</div>
