<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "AC Report" | translate }}</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label>{{ "Select Vehicle" | translate }}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getAcReporID(selectedVehicle)">
    </select-searchable>
  </ion-item>

  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getAcReportData();">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-list *ngIf="isreportArray">
    <ion-item>
      <p>Oops.. No record found..!</p>
    </ion-item>
  </ion-list>
  <div>
    <ion-card *ngFor="let rep of reportArray;" (click)="showDetail(rep)">
      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png">
        </ion-avatar>
        <ion-label>{{rep.deviceName}}</ion-label>
      </ion-item>

      <ion-card-content>
        <ion-row style="padding-top:5px;">
          <ion-col col-4>Working Hours</ion-col>
          <ion-col col-8 style="text-align: end;">{{rep.workingHours}}</ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">Action</ion-col>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">ON Time</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-4>Stopping Hours</ion-col>
          <ion-col col-8 style="text-align: end;">{{rep.stopHours}}</ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">Action</ion-col>
          <ion-col col-6 style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">OFF Time</ion-col>
        </ion-row> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
